
  .container {
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.header {
    background-color: rgb(85, 87, 87);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.col {
    float: left;
    width: 33%;
    height: 550px;
}
.body1::after{
    content: "";
    clear: both;
    display: table;
}
.footer {
    background-color: rgb(85, 87, 87);
    padding: 10px;
    text-align: center;
}
@media (max-width: 600px) {
    .col {
      width: 100%;
      margin: 0;
    }
}